<div class="panel">
  <div class="panel-body">
    <table class="table table-striped table-hover table-straight">
      <tr>
        <th>Ticket</th>
        <th>Customer</th>
        <th>Opened</th>
        <th>Status</th>
        <th>Department</th>
      </tr>
      <tr ng-repeat="ticket in tickets">
        <td><a href="#support/admin/{{ ticket.id }}">{{ ticket.subject }}</a></td>
        <td><a href="#account/{{ ticket.customer_id }}">{{ ticket.customer_name }}</a></td>
        <td>{{ ticket.open_date }}</td>
        <td>{{ ticket.status }}</td>
        <td>{{ ticket.department }}</td>
      </tr>
    </table>
  </div>
</div>
